<div class="p-fluid">
    <!-- <form [formGroup]="examinationForm"> -->
    <div class="col-12 md-col-6">
        <app-general-info></app-general-info>
    </div>

    <div class="col-12">
        <app-diagnoses></app-diagnoses>
    </div>

    <div class="col-12">
        <app-therapies></app-therapies>
    </div>

    <div class="col-12">
        <app-vaccination></app-vaccination>
    </div>

    <!-- <div class="col-12">
            <button
                pButton
                pRipple
                icon="pi pi-plus"
                type="button"
                label="Create Examination"
                class="p-button-raised p-button-success mr-2 mb-2"
                (click)="createExamination()"
            ></button>
        </div> -->
    <!-- </form> -->
</div>
