<div class="layout-menu-container">
    <div class="grid">
        <div class="col-12">
            <button
                (click)="display = true"
                pButton
                icon="pi pi-plus-circle"
                style="width: auto"
                label="New Patient"
                class="p-button-help mr-2 mb-2"
            ></button>
        </div>
    </div>

    <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
        <li
            app-menu
            class="layout-menuitem-category"
            *ngFor="let item of model; let i = index"
            [item]="item"
            [index]="i"
            [root]="true"
            role="none"
        >
            <div
                class="layout-menuitem-root-text"
                [attr.aria-label]="item.label"
            >
                {{ item.label }}
            </div>
            <ul role="menu">
                <li
                    app-menuitem
                    *ngFor="let child of item.items"
                    [item]="child"
                    [index]="i"
                    role="none"
                ></li>
            </ul>
        </li>
    </ul>

    <p-dialog
        header="New patient"
        [(visible)]="display"
        modal="modal"
        showEffect="fade"
        [style]="{ width: '30vw' }"
        [breakpoints]="{ '960px': '75vw' }"
    >
        <div>
            <form [formGroup]="newPatientForm">
                <div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >First name</label
                        >
                        <div class="col-12 md:col-10">
                            <input
                                pInputText
                                id="firstName"
                                type="text"
                                placeholder="First name"
                                formControlName="FirstName"
                            />
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Last name</label
                        >
                        <div class="col-12 md:col-10">
                            <input
                                pInputText
                                id="lastName"
                                type="text"
                                placeholder="Last name"
                                formControlName="LastName"
                            />
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Email</label
                        >
                        <div class="col-12 md:col-10">
                            <input
                                pInputText
                                id="email"
                                type="email"
                                placeholder="Email"
                                formControlName="Email"
                            />
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0">Embg</label>
                        <div class="col-12 md:col-10">
                            <input
                                pInputText
                                id="embg"
                                placeholder="Embg"
                                formControlName="Embg"
                            />
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Date of birth</label
                        >
                        <div class="col-12 md:col-10">
                            <p-calendar
                                [showIcon]="true"
                                [showButtonBar]="true"
                                placeholder="Date of birth"
                                formControlName="DateOfBirth"
                            ></p-calendar>
                        </div>
                    </div>

                    <div class="grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Gender</label
                        >
                        <div class="col-12 md:col-4">
                            <div class="field-radiobutton mb-0">
                                <p-radioButton
                                    name="gender"
                                    value="female"
                                    id="female"
                                ></p-radioButton>
                                <label for="female">Female</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton
                                    name="gender"
                                    value="Male"
                                    id="male"
                                ></p-radioButton>
                                <label for="male">Male</label>
                            </div>
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Blood type</label
                        >
                        <div class="col-12 md:col-10">
                            <p-dropdown
                                [options]="bloodTypes"
                                placeholder="Blood type"
                                [showClear]="true"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Address</label
                        >
                        <div class="col-12 md:col-10">
                            <input
                                pInputText
                                id="address"
                                type="text"
                                placeholder="Address"
                                formControlName="Address"
                            />
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-2 md:mb-0"
                            >Phone</label
                        >
                        <div class="col-12 md:col-10">
                            <input
                                pInputText
                                id="phone"
                                placeholder="Phone"
                                formControlName="Phone"
                            />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancel"
                class="p-button-raised p-button-warning mr-2 mb-2"
                (click)="onCancel()"
            ></button>
            <button
                pButton
                pRipple
                label="Submit"
                icon="pi pi-bookmark"
                class="p-button-help mr-2 mb-2"
                (click)="onSubmit()"
            ></button>
        </ng-template>
    </p-dialog>
</div>
