<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="./assets/layout/images/logo.png" alt="logo" />
        <span>UCLA Medical Center</span>
    </a>

    <a
        class="p-link layout-menu-button layout-topbar-button"
        href="#"
        (click)="appMain.toggleMenu($event)"
    >
        <i class="pi pi-bars"></i>
    </a>

    <a
        class="p-link layout-topbar-menu-button layout-topbar-button"
        href="#"
        (click)="appMain.toggleTopMenu($event)"
    >
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active': appMain.topMenuActive
        }"
    >
        <span style="margin-top: 15px; margin-right: 8px"
            >Hello, Dr. Izabela Mitreska!</span
        >
        <p-menu
            #menu
            [popup]="true"
            [model]="menuItems"
            (click)="signOut()"
        ></p-menu>
        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-user"
            (click)="menu.toggle($event)"
            class="p-button-rounded p-button-help p-button-outlined mr-2 mb-2"
        ></button>
    </div>
</div>
