<div class="layout-menu-container">
    <div class="grid">
        <div class="col-12">
            <button
                (click)="display = true"
                pButton
                icon="pi pi-plus-circle"
                style="width: auto"
                label="New Patient"
                class="p-button-help mr-2 mb-2"
            ></button>
        </div>
    </div>

    <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
        <li
            app-menu
            class="layout-menuitem-category"
            *ngFor="let item of model; let i = index"
            [item]="item"
            [index]="i"
            [root]="true"
            role="none"
        >
            <div
                class="layout-menuitem-root-text"
                [attr.aria-label]="item.label"
            >
                {{ item.label }}
            </div>
            <ul role="menu">
                <li
                    app-menuitem
                    *ngFor="let child of item.items"
                    [item]="child"
                    [index]="i"
                    role="none"
                ></li>
            </ul>
        </li>
    </ul>

    <p-dialog
        header="New patient"
        [(visible)]="display"
        modal="modal"
        showEffect="fade"
        [style]="{ width: '48vw', height: '100vw' }"
        [breakpoints]="{ '960px': '75vw' }"
    >
        <div>
            <form [formGroup]="newPatientForm">
                <div class="grid">
                    <div class="col-12">
                        <div class="card p-fluid">
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >First name<span style="color: red"
                                        >*</span
                                    ></label
                                >
                                <div class="col-12 md:col-9">
                                    <input
                                        class="w-full"
                                        pInputText
                                        id="firstName"
                                        type="text"
                                        placeholder="First name"
                                        formControlName="FirstName"
                                    />
                                </div>
                            </div>
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Last name<span style="color: red"
                                        >*</span
                                    ></label
                                >
                                <div class="col-12 md:col-9">
                                    <input
                                        class="w-full"
                                        pInputText
                                        id="lastName"
                                        type="text"
                                        placeholder="Last name"
                                        formControlName="LastName"
                                    />
                                </div>
                            </div>
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Embg<span style="color: red"
                                        >*</span
                                    ></label
                                >
                                <div class="col-12 md:col-9">
                                    <input
                                        class="w-full"
                                        pInputText
                                        id="embg"
                                        type="text"
                                        placeholder="Embg"
                                        formControlName="Embg"
                                    />
                                </div>
                            </div>
                            <div class="grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Gender<span style="color: red"
                                        >*</span
                                    ></label
                                >
                                <div class="col-12 md:col-9">
                                    <div
                                        class="field-radiobutton mb-0"
                                        style="display: inline-flex"
                                    >
                                        <p-radioButton
                                            formControlName="Gender"
                                            name="Gender"
                                            value="female"
                                            inputId="female"
                                        ></p-radioButton>
                                        <label for="female">Female</label>
                                    </div>
                                    <div
                                        class="field-radiobutton"
                                        style="
                                            display: inline-flex;
                                            margin-left: 1rem;
                                        "
                                    >
                                        <p-radioButton
                                            formControlName="Gender"
                                            name="Gender"
                                            value="Male"
                                            inputId="male"
                                        ></p-radioButton>
                                        <label for="male">Male</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card p-fluid">
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Date of birth<span style="color: red"
                                        >*</span
                                    ></label
                                >
                                <div class="col-12 md:col-9">
                                    <p-calendar
                                        class="w-full"
                                        [showIcon]="true"
                                        [showButtonBar]="true"
                                        placeholder="Date of birth"
                                        formControlName="DateOfBirth"
                                    ></p-calendar>
                                </div>
                            </div>
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Blood type<span style="color: red"
                                        >*</span
                                    ></label
                                >
                                <div class="col-12 md:col-9">
                                    <p-dropdown
                                        class="w-full"
                                        [options]="bloodTypes"
                                        placeholder="Blood type"
                                        [showClear]="true"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Address<span style="color: red">*</span>
                                </label>
                                <div class="col-12 md:col-9">
                                    <input
                                        class="w-full"
                                        pInputText
                                        id="address"
                                        type="text"
                                        placeholder="Address"
                                        formControlName="Address"
                                    />
                                </div>
                            </div>
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Email<span style="color: red">*</span>
                                </label>
                                <div class="col-12 md:col-9">
                                    <input
                                        class="w-full"
                                        pInputText
                                        id="email"
                                        type="text"
                                        placeholder="Email"
                                        formControlName="Email"
                                    />
                                </div>
                            </div>
                            <div class="field grid">
                                <label class="col-12 mb-2 md:col-3 md:mb-0"
                                    >Phone
                                    <span style="color: red">*</span></label
                                >
                                <div class="col-12 md:col-9">
                                    <input
                                        class="w-full"
                                        pInputText
                                        id="phone"
                                        type="text"
                                        placeholder="Phone"
                                        formControlName="Phone"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancel"
                class="p-button-raised p-button-warning mr-2 mb-2"
                (click)="onCancel()"
            ></button>
            <button
                pButton
                pRipple
                label="Submit"
                icon="pi pi-bookmark"
                class="p-button-help mr-2 mb-2"
                (click)="onSubmit()"
            ></button>
        </ng-template>
    </p-dialog>
</div>
