<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>
</html>
<body>
    <div class="grid p-fluid" *ngIf="patient$ | async as patient">
        <div class="col-12 md:col-3">
            <div class="card">
                <h5>Patient Profile</h5>
                <img
                    [src]="patient.ImageUrl"
                    alt="Patient Profile Image"
                    class="patient-profile"
                />
                <div class="patient-name-container">
                    <div class="patient-name">
                        {{ patient.FirstName }} {{ patient.LastName }}
                    </div>
                    <div class="patient-id">
                        {{ patient.IDnumber }}
                    </div>
                </div>
                <div class="btn-new-examination-container">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        type="button"
                        label="New examination"
                        class="p-button-raised p-button-success mr-2 mb-2"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        type="button"
                        label="Edit profile"
                        class="p-button-raised p-button-help mr-2 mb-2"
                        (click)="editPatient(patient)"
                    ></button>
                </div>
            </div>

            <p-messages [value]="insuranceMessages"></p-messages>
        </div>

        <div class="col-12 md:col-9">
            <div class="card">
                <div>
                    <p-tabMenu
                        styleClass="mb-5"
                        [model]="patientTabs$ | async"
                    ></p-tabMenu>

                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</body>
