<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>
</html>
<body>
    <div class="grid p-fluid">
        <div class="col-12 md:col-3">
            <div class="card">
                <h5>Patient Profile</h5>
                <img
                    src="assets/layout/images/man.jpg"
                    alt="Patient Profile Image"
                    class="patient-profile"
                />
                <div class="patient-name-container">
                    <div class="patient-name">Жанко Митрески</div>
                </div>
                <div class="btn-new-examination-container">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        type="button"
                        label="Add new examination"
                        class="p-button-raised p-button-success mr-2 mb-2"
                    ></button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-9">
            <div class="card">
                <h5>Actions</h5>
                <div>
                    <button
                        pButton
                        icon="pi pi-eye"
                        style="width: auto"
                        label="Patient Profile"
                        class="p-button-help mr-2 mb-2"
                    ></button>
                    <button
                        pButton
                        icon="pi pi-eye"
                        style="width: auto"
                        label="All examinations"
                        class="p-button-help mr-2 mb-2"
                    ></button>
                    <button
                        pButton
                        icon="pi pi-eye"
                        style="width: auto"
                        label="New examination"
                        class="p-button-help mr-2 mb-2"
                    ></button>
                    <button
                        pButton
                        icon="pi pi-eye"
                        style="width: auto"
                        label="COVID-19 examination"
                        class="p-button-help mr-2 mb-2"
                    ></button>
                </div>
            </div>
        </div>
        <div class="col-12"></div>

        <div class="col-12 md:col-3">
            <div class="card">
                <h5>General patient information</h5>

                <div class="patient-information">
                    <div class="information">
                        <div class="flex-center">
                            <div class="info-icon">
                                <i
                                    class="fa fa-mars-double"
                                    style="font-size: 48px; color: red"
                                ></i>
                            </div>
                            <!-- <div class="flex-1">
                                <div class="label text-primary">
                                    Patient Name and Surname
                                </div>
                                <div class="value">123</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
