<div class="card">
    <h5>COVID Examinations List</h5>
    <p-table
        #dt
        [value]="generalExaminations$ | async"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['date', 'department', 'doctor']"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} examinations"
        [rowHover]="true"
        dataKey="id"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                style="gap: 0.5rem"
            >
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search examinations..."
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="date">
                    Date
                    <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="department">
                    Department
                    <p-sortIcon field="department"></p-sortIcon>
                </th>
                <th pSortableColumn="doctor">
                    Doctor
                    <p-sortIcon field="doctor"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-examination>
            <tr>
                <td style="min-width: 1rem">
                    <span class="p-column-title">Date</span>
                    {{
                        examination.ExaminationDate?.seconds * 1000
                            | date : "dd.MM.YYYY"
                    }}
                </td>
                <td style="min-width: 10rem">
                    <span class="p-column-title">Department</span>
                    {{ examination.Department?.name || "/" }}
                </td>
                <td style="min-width: 10rem">
                    <span class="p-column-title">Doctor</span>
                    {{ examination.Doctor }}
                </td>
                <td>
                    <div style="text-align: right">
                        <button
                            pButton
                            pRipple
                            type="button"
                            class="p-button-text p-button-help p-button-text"
                            style="width: auto; height: 1.75rem"
                            (click)="viewExamination(examination)"
                        >
                            view
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template></p-table
    >
</div>
